<!DOCTYPE html>
<html>
	<body>
	<div class="center">
<div style="width:1080px;height:100px;">
<img src="/assets/headline.png" style="width:200px;float:left;margin:25px 0 0 50px;"/>
<p id="rankCenterH1">分类中心</p>
</div>
<div class="header">
     <input type="text" style="width:440px;height:30px;font-size:17px"/>
     <input type="button"value="搜索网站" style="font-family:黑体;font-size:15px;height:30px"/>
</div>
<div class="containerDiv">
		<div class="leftDiv">
		<p id="contents">所有网站分类</p>
			<ul id='menuLists'>
					<li>
						<a href="#"><span style="color:red;">A．</span>休闲娱乐</a>
						<ul class="secondMenu">
							<li><a href="#">A音乐音频</a></li>
							<li><a href="#">B游戏网站</a></li>
							<li><a href="#">C动漫漫画</a></li>
							<li><a href="#">D明星时尚</a></li>
							<li><a href="#">E娱乐八卦</a></li>
							<li><a href="#">F图片摄影</a></li>
							<li><a href="#">G视频电影</a></li>
							<li><a href="#">H星座风水</a></li>
							<li><a href="#">I收藏爱好</a></li>
							<li><a href="#">J军事政治</a></li>
							<li><a href="#">K开心幽默</a></li>
							<li><a href="#">L文学阅读</a></li>
							<li><a href="#">M新闻媒体</a></li>
							<li><a href="#">N博客论坛</a></li>
							<li><a href="#">O社交互动</a></li>
							<li><a href="#">P校园生活</a></li>
							<li><a href="#">Q门户网站</a></li>
							<li><a href="#">R其他网站</a></li>
						</ul>
					</li>
					<li>
						<a href="#"><span style="color:red;">B．</span>网上商城</a>
						<ul class="secondMenu">
							<li><a href="#">A商务平台</a></li>
							<li><a href="#">B团购导购</a></li>
							<li><a href="#">C数码电器</a></li>
							<li><a href="#">D快递物流</a></li>
							<li><a href="#">E网上支付</a></li>
							<li><a href="#">F日用百货</a></li>
							<li><a href="#">G虚拟产品</a></li>
							<li><a href="#">H服装配饰</a></li>
							<li><a href="#">I鲜花礼品</a></li>
							<li><a href="#">J美容护肤</a></li>
							<li><a href="#">K母婴用品</a></li>
							<li><a href="#">L餐饮美食</a></li>
							<li><a href="#">M文体用品</a></li>
							<li><a href="#">N国外网商</a></li>
							<li><a href="#">O其他网站</a></li>
						</ul>
					</li>
					<li>
						<a href="#"><span style="color:red;">C．</span>生活服务</a>
						<ul class="secondMenu">
							<li><a href="#">A天气播报</a></li>
							<li><a href="#">B宾馆旅游</a></li>
							<li><a href="#">C餐饮美食</a></li>
							<li><a href="#">D房产家居</a></li>
							<li><a href="#">E交通物流</a></li>
							<li><a href="#">F医疗保健</a></li>
							<li><a href="#">G宠物玩具</a></li>
							<li><a href="#">H家政服务</a></li>
							<li><a href="#">I婚恋家庭</a></li>
							<li><a href="#">J生活常识</a></li>
							<li><a href="#">K两性健康</a></li>
							<li><a href="#">L其他网站</a></li>
						</ul>
					</li>
					<li>
						<a href="#"><span style="color:red;">D．</span>教育就业</a>
						<ul class="secondMenu">
							<li><a href="#">A教育考试</a></li>
							<li><a href="#">B外语综合</a></li>
							<li><a href="#">C图书展馆</a></li>
							<li><a href="#">D国防军事</a></li>
							<li><a href="#">E出国留学</a></li>
							<li><a href="#">F百科辞典</a></li>
							<li><a href="#">G求职招聘</a></li>
							<li><a href="#">H高等院校</a></li>
							<li><a href="#">I培训机构</a></li>
							<li><a href="#">J少儿教育</a></li>
							<li><a href="#">K成人教育</a></li>
							<li><a href="#">L其他网站</a></li>
						</ul>
					</li>
					<li>
						<a href="#"><span style="color:red;">E．</span>商业经济</a>
						<ul class="secondMenu">
							<li><a href="#">A农林牧渔</a></li>
							<li><a href="#">B能源化工</a></li>
							<li><a href="#">C机械电子</a></li>
							<li><a href="#">D建筑环境</a></li>
							<li><a href="#">E金融保险</a></li>
							<li><a href="#">F法律财经</a></li>
							<li><a href="#">G贸易招商</a></li>
							<li><a href="#">H广告营销</a></li>
							<li><a href="#">I商务服务</a></li>
							<li><a href="#">J会展活动</a></li>
							<li><a href="#">K咨询服务</a></li>
							<li><a href="#">L工业制品</a></li>
							<li><a href="#">M纸业印刷</a></li>
							<li><a href="#">N钟表眼镜</a></li>
							<li><a href="#">O交通物流</a></li>
							<li><a href="#">P影像器材 </a></li>
							<li><a href="#">Q仪器仪表</a></li>
							<li><a href="#">R冶金冶炼</a></li>
							<li><a href="#">S汽摩配件</a></li>
							<li><a href="#">T其他网站</a></li>
						</ul>
					</li>
					<li>
						<a href="#"><span style="color:red;">F．</span>艺术人文</a>
						<ul class="secondMenu">
							<li><a href="#">A社会科学</a></li>
							<li><a href="#">B文学艺术</a></li>
							<li><a href="#">C美学哲学</a></li>
							<li><a href="#">D国学历史</a></li>
							<li><a href="#">E表演艺术</a></li>
							<li><a href="#">F视觉艺术</a></li>
							<li><a href="#">G语言艺术</a></li>
							<li><a href="#">H综合艺术</a></li>
							<li><a href="#">I其他网站</a></li>
						</ul>
					</li>
					<li>
						<a href="#"><span style="color:red;">G．</span>自然科学</a>
						<ul class="secondMenu">
							<li><a href="#">A数学物理</a></li>
							<li><a href="#">B生物化学</a></li>
							<li><a href="#">C天文地理</a></li>
							<li><a href="#">D生命科学</a></li>
							<li><a href="#">E计算机科学</a></li>
							<li><a href="#">F农学医学</a></li>
							<li><a href="#">G其他网站</a></li>
						</ul>
					</li>
					<li>
						<a href="#"><span style="color:red;">H．</span>科技创新</a>
						<ul class="secondMenu">
							<li><a href="#">A应用技术</a></li>
							<li><a href="#">B设备器材</a></li>
							<li><a href="#">C科技刊物</a></li>
							<li><a href="#">D技术理论</a></li>
							<li><a href="#">E通信技术</a></li>
							<li><a href="#">F航空航天</a></li>
							<li><a href="#">G生物环境</a></li>
							<li><a href="#">H物理化学</a></li>
							<li><a href="#">I其他网站</a></li>
						</ul>
					</li>
					<li>
						<a href="#"><span style="color:red;">I．</span>行政服务</a>
						<ul class="secondMenu">
							<li><a href="#">A政府组织</a></li>
							<li><a href="#">B省市导航</a></li>
							<li><a href="#">C工商税务</a></li>
							<li><a href="#">D公共福利</a></li>
							<li><a href="#">E社会团体</a></li>
							<li><a href="#">F统计报告</a></li>
							<li><a href="#">G其他网站</a></li>
						</ul>
					</li>
					<li>
						<a href="#"><span style="color:red;">J．</span>地方区域</a>
						<ul class="secondMenu">
							<li><a href="#">A华南</a></li>
							<li><a href="#">B华北</a></li>
							<li><a href="#">C华中</a></li>
							<li><a href="#">D华东</a></li>
							<li><a href="#">E西南</a></li>
							<li><a href="#">F西北</a></li>
							<li><a href="#">G东北</a></li>
						</ul>
					</li>
					<li>
						<a href="#"><span style="color:red;">K．</span>名人网站</a>
						<ul class="secondMenu">
							<li><a href="#">A娱乐名人</a></li>
							<li><a href="#">B教育名人</a></li>
							<li><a href="#">C经济名人</a></li>
							<li><a href="#">D军事名人</a></li>
							<li><a href="#">E政治名人</a></li>
							<li><a href="#">F社科名人</a></li>
							<li><a href="#">G科学名人</a></li>
							<li><a href="#">H艺术名人</a></li>
							<li><a href="#">I其他名人</a></li>
						</ul>
					</li>
					<li>
						<a href="#"><span style="color:red;">L．</span>国外名站</a>
						<ul class="secondMenu">
							<li><a href="#">A欧洲</a></li>
							<li><a href="#">B美洲</a></li>
							<li><a href="#">C亚洲</a></li>
							<li><a href="#">D非洲</a></li>
							<li><a href="#">E大洋洲</a></li>
						</ul>
					</li>
					<li>
						<a href="#"><span style="color:red;">M．</span>新闻媒体</a>
						<ul class="secondMenu">
							<li><a href="#">A新闻报刊</a></li>
							<li><a href="#">B广播电视</a></li>
							<li><a href="#">C社交媒体</a></li>
							<li><a href="#">D央视网站</a></li>
							<li><a href="#">E卫视网站</a></li>
							<li><a href="#">F门户网站</a></li>
							<li><a href="#">G其他网站</a></li>
						</ul>
					</li>
					<li>
						<a href="#"><span style="color:red;">N．</span>电脑网络</a>
						<ul class="secondMenu">
							<li><a href="#">A硬件软件</a></li>
							<li><a href="#">B技术编程</a></li>
							<li><a href="#">C设计素材</a></li>
							<li><a href="#">D站长资源</a></li>
							<li><a href="#">E域名空间</a></li>
							<li><a href="#">F网络安全</a></li>
							<li><a href="#">G邮件通信</a></li>
							<li><a href="#">H手机数码</a></li>
							<li><a href="#">I电子支付</a></li>
							<li><a href="#">J网络安全</a></li>
							<li><a href="#">K其他网站</a></li>
						</ul>
					</li>
					<li>
						<a href="#"><span style="color:red;">O．</span>综合其他</a>
						<ul class="secondMenu">
							<li><a href="#">A门户网站</a></li>
							<li><a href="#">B网址导航</a></li>
							<li><a href="#">C分类目录</a></li>
							<li><a href="#">D其他网站</a></li>
						</ul>
					</li>
			</ul>
		</div>
		
		
		
		<div class="rightDiv">
		<div id="Back">
		<ul id="list">
		<li style="display:inline;float:right;margin-right:100px;"><label style="cursor:pointer;">返回首页</label></li>
		</ul>
		<p style="background-color:black;width:860px;height:6px;float:left;margin-top:3px;"></p>
		</div>
			<div id="centerRelativeDiv">
			
			<table id="titleTable">
				<tr>
				    <th style="width:5%"></th>
					<th style="width:15%">网站名称</th>
					<th style="width:50%">网址</th>
					<th style="width:20%">点击量</th>
					<th style="width:10%">收藏</th>
				</tr>
			</table>
			<p style="background-color:#CCC;width:760px;height:2px;float:left;margin-top:3px;"></p>
			
			<table id="sitesSortTable">
				<tr>
					<td style="width:5%">1.</td>
					<td style="width:15%">百度</td>
					<td style="width:50%"><a href="http://www.baidu.com">www.baidu.com</a></td>
					<td style="width:20%;color:red;">2983</td>
					<td><img src="/assets/add.jpg"></td>
				</tr>
				<tr>
					<td>2.</td>
					<td>百度</td>
					<td><a href="http://www.baidu.com">www.baidu.com</a></td>
					<td style="color:red;">2983</td>
					<td><img src="/assets/add.jpg"></td>
				</tr>
				<tr>
					<td>3.</td>
					<td>百度</td>
					<td><a href="http://www.baidu.com">www.baidu.com</a></td>
					<td style="color:red;">2983</td>
					<td><img src="/assets/add.jpg"></td>
				</tr>
				<tr>
					<td>4.</td>
					<td>百度</td>
					<td><a href="http://www.baidu.com">www.baidu.com</a></td>
					<td style="color:red;">2983</td>
					<td><img src="/assets/add.jpg"></td>
				</tr>
				<tr>
					<td>5.</td>
					<td>百度</td>
					<td><a href="http://www.baidu.com">www.baidu.com</a></td>
					<td style="color:red;">2983</td>
					<td><img src="/assets/add.jpg"></td>
				</tr>
				<tr>
					<td>6.</td>
					<td>百度</td>
					<td><a href="http://www.baidu.com">www.baidu.com</a></td>
					<td style="color:red;">2983</td>
					<td><img src="/assets/add.jpg"></td>
				</tr>
				<tr>
					<td>7.</td>
					<td>百度</td>
					<td><a href="http://www.baidu.com">www.baidu.com</a></td>
					<td style="color:red;">2983</td>
					<td><img src="/assets/add.jpg"></td>
				</tr>
				<tr>
					<td>8.</td>
					<td>百度</td>
					<td><a href="http://www.baidu.com">www.baidu.com</a></td>
					<td style="color:red;">2983</td>
					<td><img src="/assets/add.jpg"></td>
				</tr>
				<tr>
					<td>9.</td>
					<td>百度</td>
					<td><a href="http://www.baidu.com">www.baidu.com</a></td>
					<td style="color:red;">2983</td>
					<td><img src="/assets/add.jpg"></td>
				</tr>
				<tr>
					<td>10.</td>
					<td>百度</td>
					<td><a href="http://www.baidu.com">www.baidu.com</a></td>
					<td style="color:red;">2983</td>
					<td><img src="/assets/add.jpg"></td>
				</tr>
					<tr>
					<td>11.</td>
					<td>百度</td>
					<td><a href="http://www.baidu.com">www.baidu.com</a></td>
					<td style="color:red;">2983</td>
					<td><img src="/assets/add.jpg"></td>
				</tr>
					<tr>
					<td>12.</td>
					<td>百度</td>
					<td><a href="http://www.baidu.com">www.baidu.com</a></td>
					<td style="color:red;">2983</td>
					<td><img src="/assets/add.jpg"></td>
				</tr>
					<tr>
					<td>13.</td>
					<td>百度</td>
					<td><a href="http://www.baidu.com">www.baidu.com</a></td>
					<td style="color:red;">2983</td>
					<td><img src="/assets/add.jpg"></td>
				</tr>
					<tr>
					<td>14.</td>
					<td>百度</td>
					<td><a href="http://www.baidu.com">www.baidu.com</a></td>
					<td style="color:red;">2983</td>
					<td><img src="/assets/add.jpg"></td>
				</tr>
					<tr>
					<td>15.</td>
					<td>百度</td>
					<td><a href="http://www.baidu.com">www.baidu.com</a></td>
					<td style="color:red;">2983</td>
					<td><img src="/assets/add.jpg"></td>
				</tr>
			</table>
			<div id="page">
			    <a href="" style="margin-left:530px;">上一页</a>
			    <a href="">下一页</a>
		
		</div>
		</div>
		</div>
                 
	  </div>
  
	</div>
</body>
</html>
