<!DOCTYPE html>
<html>
	<body>
			<div id="disableDiv">
			</div>
			<div id="loginDiv">
			<form action="" method="post" >
			<div id="loginBox">
			<div id="loginHeadDiv">
				<label style="font-size:150%;float:left;color:6c6c6c;margin:7px 0 0 8px;">登录我的舍人</label>
				<input type="button" id="closeLoginBtn"></input>
			</div>
	        <div id="loginBoxCenter">
	            <p><input type="text" id="username" name="username" autofocus="autofocus" required="required" autocomplete="off" placeholder="手机/邮箱/用户名" value="" /></p>
	            
	            <p><input type="password" id="password" name="password" required="required" placeholder="密码" value="" /></p>
				<p>
					<input id="remember" type="checkbox" name="remember" />
					<label for="remember" id="remberLabel">下次自动登陆</label>
					<a id="forgetLink" href="#">忘记密码?</a>
				</p>
			</div>
	        <div id="loginBoxButtons">
	            <p><button id="loginBtn">登录</button></p>
				<p><label id="registerLabel">立即注册</label></p>
	        </div>
	    </div>
	    </form>
	</div>
			<div id="registerDiv">
			</div>
		<div id="mainDiv">
			<div id="headline"><img src="assets/headline.png"></img></div>
			<div id="seachDiv">
				<input type="text" id="seachTxt" name="seachTxt" />
				<input type="button" id="seachBtn" />
			</div>
			<div id="checkDiv">
					<input type="radio" name="radioChoice" id="radioBaidu" checked="checked" value="1"/>
					<label for="radioBaidu">百度</label>
					<input type="radio" name="radioChoice" id="radioGoogle" value="2"/>
					<label for="radioGoogle">谷歌</label>
					<input type="radio" name="radioChoice" id="sougou" value="3"/>
					<label for="sougou">搜狗</label>
					<input type="radio" name="radioChoice" id="bing" value="4"/>
					<label for="bing">必应</label>
					<input type="radio" name="radioChoice" id="yahoo" value="5"/>
					<label for="yahoo">雅虎</label>
			</div>
		<div id="leftRightContainer">
		<div id="listMenu">
			<div id="listHeadDiv"><p style="padding-top:8px;">所有网站分类</p></div>
			<ul id='menu'>
					<li>
						<span style="color:red;">A．</span>休闲娱乐
						<ul class="secondMenu">
							<li><a href="#">A音乐音频</a></li>
							<li><a href="#">B游戏网站</a></li>
							<li><a href="#">C动漫漫画</a></li>
							<li><a href="#">D明星时尚</a></li>
							<li><a href="#">E娱乐八卦</a></li>
							<li><a href="#">F图片摄影</a></li>
							<li><a href="#">G视频电影</a></li>
							<li><a href="#">H星座风水</a></li>
							<li><a href="#">I收藏爱好</a></li>
							<li><a href="#">J军事政治</a></li>
							<li><a href="#">K开心幽默</a></li>
							<li><a href="#">L文学阅读</a></li>
							<li><a href="#">M新闻媒体</a></li>
							<li><a href="#">N博客论坛</a></li>
							<li><a href="#">O社交互动</a></li>
							<li><a href="#">P校园生活 </a></li>
							<li><a href="#">Q门户网站 </a></li>
							<li><a href="#">R其他网站</a></li>
						</ul>
					</li>
					<li>
						<span style="color:red;">B．</span>网上商城
						<ul class="secondMenu">
							<li><a href="#">A商务平台</a></li>
							<li><a href="#">B团购导购</a></li>
							<li><a href="#">C数码电器</a></li>
							<li><a href="#">D快递物流</a></li>
							<li><a href="#">E网上支付</a></li>
							<li><a href="#">F日用百货</a></li>
							<li><a href="#">G虚拟产品</a></li>
							<li><a href="#">H服装配饰</a></li>
							<li><a href="#">I鲜花礼品</a></li>
							<li><a href="#">J美容护肤</a></li>
							<li><a href="#">K母婴用品</a></li>
							<li><a href="#">L餐饮美食</a></li>
							<li><a href="#">M文体用品</a></li>
							<li><a href="#">N国外网商</a></li>
							<li><a href="#">O其他网站</a></li>
						</ul>
					</li>
					<li>
						<span style="color:red;">C．</span>生活服务
						<ul class="secondMenu">
							<li><a href="#">A天气播报</a></li>
							<li><a href="#">B宾馆旅游</a></li>
							<li><a href="#">C餐饮美食</a></li>
							<li><a href="#">D房产家居</a></li>
							<li><a href="#">E交通物流</a></li>
							<li><a href="#">F医疗保健</a></li>
							<li><a href="#">G宠物玩具</a></li>
							<li><a href="#">H家政服务</a></li>
							<li><a href="#">I婚恋家庭</a></li>
							<li><a href="#">J生活常识</a></li>
							<li><a href="#">K两性健康</a></li>
							<li><a href="#">L其他网站</a></li>
						</ul>
					</li>
					<li>
						<span style="color:red;">D．</span>教育就业
						<ul class="secondMenu">
							<li><a href="#">A教育考试</a></li>
							<li><a href="#">B外语综合</a></li>
							<li><a href="#">C图书展馆</a></li>
							<li><a href="#">D国防军事</a></li>
							<li><a href="#">E出国留学</a></li>
							<li><a href="#">F百科辞典</a></li>
							<li><a href="#">G求职招聘</a></li>
							<li><a href="#">H高等院校</a></li>
							<li><a href="#">I培训机构</a></li>
							<li><a href="#">J少儿教育</a></li>
							<li><a href="#">K成人教育</a></li>
							<li><a href="#">L其他网站</a></li>
						</ul>
					</li>
					<li>
						<span style="color:red;">E．</span>商业经济
						<ul class="secondMenu">
							<li><a href="#">A农林牧渔</a></li>
							<li><a href="#">B能源化工</a></li>
							<li><a href="#">C机械电子</a></li>
							<li><a href="#">D建筑环境</a></li>
							<li><a href="#">E金融保险</a></li>
							<li><a href="#">F法律财经</a></li>
							<li><a href="#">G贸易招商</a></li>
							<li><a href="#">H广告营销</a></li>
							<li><a href="#">I商务服务</a></li>
							<li><a href="#">J会展活动</a></li>
							<li><a href="#">K咨询服务</a></li>
							<li><a href="#">L工业制品</a></li>
							<li><a href="#">M纸业印刷</a></li>
							<li><a href="#">N钟表眼镜</a></li>
							<li><a href="#">O交通物流</a></li>
							<li><a href="#">P影像器材 </a></li>
							<li><a href="#">Q仪器仪表</a></li>
							<li><a href="#">R冶金冶炼</a></li>
							<li><a href="#">S汽摩配件</a></li>
							<li><a href="#">T其他网站</a></li>
						</ul>
					</li>
					<li>
						<span style="color:red;">F．</span>艺术人文
						<ul class="secondMenu">
							<li><a href="#">A社会科学</a></li>
							<li><a href="#">B文学艺术</a></li>
							<li><a href="#">C美学哲学</a></li>
							<li><a href="#">D国学历史</a></li>
							<li><a href="#">E表演艺术</a></li>
							<li><a href="#">F视觉艺术</a></li>
							<li><a href="#">G语言艺术</a></li>
							<li><a href="#">H综合艺术</a></li>
							<li><a href="#">I其他网站</a></li>
						</ul>
					</li>
					<li>
						<span style="color:red;">G．</span>自然科学
						<ul class="secondMenu">
							<li><a href="#">A数学物理</a></li>
							<li><a href="#">B生物化学</a></li>
							<li><a href="#">C天文地理</a></li>
							<li><a href="#">D生命科学</a></li>
							<li><a href="#">E计算机科学</a></li>
							<li><a href="#">F农学医学</a></li>
							<li><a href="#">G其他网站</a></li>
						</ul>
					</li>
					<li>
						<span style="color:red;">H．</span>科技创新
						<ul class="secondMenu">
							<li><a href="#">A应用技术</a></li>
							<li><a href="#">B设备器材</a></li>
							<li><a href="#">C科技刊物</a></li>
							<li><a href="#">D技术理论</a></li>
							<li><a href="#">E通信技术</a></li>
							<li><a href="#">F航空航天</a></li>
							<li><a href="#">G生物环境</a></li>
							<li><a href="#">H物理化学</a></li>
							<li><a href="#">I其他网站</a></li>
						</ul>
					</li>
					<li>
						<span style="color:red;">I．</span>行政服务
						<ul class="secondMenu">
							<li><a href="#">A政府组织</a></li>
							<li><a href="#">B省市导航</a></li>
							<li><a href="#">C工商税务</a></li>
							<li><a href="#">D公共福利</a></li>
							<li><a href="#">E社会团体</a></li>
							<li><a href="#">F统计报告</a></li>
							<li><a href="#">G其他网站</a></li>
						</ul>
					</li>
					<li>
						<span style="color:red;">J．</span>地方区域
						<ul class="secondMenu">
							<li><a href="#">A华南</a></li>
							<li><a href="#">B华北</a></li>
							<li><a href="#">C华中</a></li>
							<li><a href="#">D华东</a></li>
							<li><a href="#">E西南</a></li>
							<li><a href="#">F西北</a></li>
							<li><a href="#">G东北</a></li>
						</ul>
					</li>
					<li>
						<span style="color:red;">K．</span>名人网站
						<ul class="secondMenu">
							<li><a href="#">A娱乐名人</a></li>
							<li><a href="#">B教育名人</a></li>
							<li><a href="#">C经济名人</a></li>
							<li><a href="#">D军事名人</a></li>
							<li><a href="#">E政治名人</a></li>
							<li><a href="#">F社科名人</a></li>
							<li><a href="#">G科学名人</a></li>
							<li><a href="#">H艺术名人</a></li>
							<li><a href="#">I其他名人</a></li>
						</ul>
					</li>
					<li>
						<span style="color:red;">L．</span>国外名站
						<ul class="secondMenu">
							<li><a href="#">A欧洲</a></li>
							<li><a href="#">B美洲</a></li>
							<li><a href="#">C亚洲</a></li>
							<li><a href="#">D非洲</a></li>
							<li><a href="#">E大洋洲</a></li>
						</ul>
					</li>
					<li>
						<span style="color:red;">M．</span>新闻媒体
						<ul class="secondMenu">
							<li><a href="#">A新闻报刊</a></li>
							<li><a href="#">B广播电视</a></li>
							<li><a href="#">C社交媒体</a></li>
							<li><a href="#">D央视网站</a></li>
							<li><a href="#">E卫视网站</a></li>
							<li><a href="#">F门户网站</a></li>
							<li><a href="#">G其他网站</a></li>
						</ul>
					</li>
					<li>
						<span style="color:red;">N．</span>电脑网络
						<ul class="secondMenu">
							<li><a href="#">A硬件软件</a></li>
							<li><a href="#">B技术编程</a></li>
							<li><a href="#">C设计素材</a></li>
							<li><a href="#">D站长资源</a></li>
							<li><a href="#">E域名空间</a></li>
							<li><a href="#">F网络安全</a></li>
							<li><a href="#">G邮件通信</a></li>
							<li><a href="#">H手机数码</a></li>
							<li><a href="#">I电子支付</a></li>
							<li><a href="#">J网络安全</a></li>
							<li><a href="#">K其他网站</a></li>
						</ul>
					</li>
					<li>
						<span style="color:red;">O．</span>综合其他
						<ul class="secondMenu">
							<li><a href="#">A门户网站</a></li>
							<li><a href="#">B网址导航</a></li>
							<li><a href="#">C分类目录</a></li>
							<li><a href="#">D其他网站</a></li>
						</ul>
					</li>
				</ul>
			</div>
		
		<div id="rightPart">
			<div id="navigatBar">
				<ul id="navigatList">
					<li><a href="#">我的收藏</a></li>
					<li><a href="/分类中心"  target="_blank">分类中心</a></li>
					<li><a href="/排名中心"  target="_blank">排名中心</a></li>
					<li><a href="http://www.google.com" target="_blank">论坛中心</a></li>
					<li><a href="http://www.google.com" target="_blank">圈子中心</a></li>
					<li><a href="/服务中心" target="_blank">服务中心</a></li>
					<li><div id="searchSitesDiv"><input type="text" id="searchSite"/><input type="button" id="searchSiteBtn"/></div></li>
				</ul>
			</div>
			<div id="divideDiv"></div>
			<div id="sitesPreview" class="sitesDisplay">
				<div class="recomondSite" id="recommendDiv">
					<h2>推荐网站:</h2>  
					<span class="prev" id="prev1"></span>  
					<div class="siteContent" id="content1">  
						<div class="siteList" id="content_list1">  
							<dl>  
								<dt><img src="/assets/a.jpg"/></dt>  
								<dd>推荐网站1</dd>  
							</dl>  
							<dl>  
								<dt><img src="/assets/a.jpg"/></dt>  
								<dd>推荐网站2</dd>  
							</dl>  
							<dl>  
								<dt><img src="/assets/a.jpg"/></dt>  
								<dd>推荐网站3</dd>  
							</dl>  
							<dl>  
								<dt><img src="/assets/a.jpg"/></dt>  
								<dd>推荐网站4</dd>  
							</dl>  
							<dl>  
								<dt><img src="/assets/a.jpg"/></dt>  
								<dd>推荐网站5</dd>  
							</dl>  
							<dl>  
								<dt><img src="/assets/a.jpg"/></dt>  
								<dd>推荐网站6</dd>  
							</dl>  
							<dl>  
								<dt><img src="/assets/a.jpg"/></dt>  
								<dd>推荐网站7</dd>  
							</dl>  
						</div>  
					</div>  
					<span class="next" id="next1"></span> 
				</div>
				
				<div class="recomondSite" id="newHotSite">
					<h2>最新酷站:</h2>  
					<span class="prev" id="prev2"></span>  
					<div class="siteContent" id="content2">  
						<div class="siteList" id="content_list2">  
							<dl>  
								<dt><img src="/assets/a.jpg"/></dt>  
								<dd>推荐网站1</dd>  
							</dl>  
							<dl>  
								<dt><img src="/assets/a.jpg"/></dt>  
								<dd>推荐网站2</dd>  
							</dl>  
							<dl>  
								<dt><img src="/assets/a.jpg"/></dt>  
								<dd>推荐网站3</dd>  
							</dl>  
							<dl>  
								<dt><img src="/assets/a.jpg"/></dt>  
								<dd>推荐网站4</dd>  
							</dl>  
							<dl>  
								<dt><img src="/assets/a.jpg"/></dt>  
								<dd>推荐网站5</dd>  
							</dl>  
							<dl>  
								<dt><img src="/assets/a.jpg"/></dt>  
								<dd>推荐网站6</dd>  
							</dl>  
							<dl>  
								<dt><img src="/assets/a.jpg"/></dt>  
								<dd>推荐网站7</dd>  
							</dl>  
						</div>  
					</div>  
					<span class="next" id="next2"></span> 
				</div>
				
				<div class="recomondSite" id="individualRecmdDiv">
					<h2>个性推荐:</h2>  
					<span class="prev" id="prev3"></span>  
					<div class="siteContent" id="content3">  
						<div class="siteList" id="content_list3">  
							<dl>  
								<dt><img src="/assets/a.jpg"/></dt>  
								<dd>推荐网站1</dd>  
							</dl>  
							<dl>  
								<dt><img src="/assets/a.jpg"/></dt>  
								<dd>推荐网站2</dd>  
							</dl>  
							<dl>  
								<dt><img src="/assets/a.jpg"/></dt>  
								<dd>推荐网站3</dd>  
							</dl>  
							<dl>  
								<dt><img src="/assets/a.jpg"/></dt>  
								<dd>推荐网站4</dd>  
							</dl>  
							<dl>  
								<dt><img src="/assets/a.jpg"/></dt>  
								<dd>推荐网站5</dd>  
							</dl>  
							<dl>  
								<dt><img src="/assets/a.jpg"/></dt>  
								<dd>推荐网站6</dd>  
							</dl>  
							<dl>  
								<dt><img src="/assets/a.jpg"/></dt>  
								<dd>推荐网站7</dd>  
							</dl>  
						</div>  
					</div>  
					<span class="next" id="next3"></span> 
				</div>
			</div>
			<div id="myFavourite">
				<table id="operateTable">
					<tr>
						<td>添加新站</td>
						<td>添加新组</td>
						<td>编辑</td>
					</tr>
				</table>
				<table id="favourTable">
					<tr>
						<td class="headCol">常用网站</td>
						<td class="siteCatalog"><ul>
							<li><a href="#">百度</a></li>
							<li><a href="#">百度</a></li>
							<li><a href="#">百度</a></li>
							<li><a href="#">百度</a></li>
							<li><a href="#">百度</a></li>
							<li><a href="#">百度</a></li>
							<li><a href="#">百度</a></li>
							<li><a href="#">百度</a></li>
							<li><a href="#">百度</a></li>
							<li><a href="#">百度</a></li>
							<li><a href="#">百度</a></li>
							<li><a href="#">百度</a></li>
						</ul></td>
					</tr>
					<tr><td class="headCol">休闲娱乐</td>
						<td class="siteCatalog"><ul>
							<li><a href="#">百度</a></li>
							<li><a href="#">百度</a></li>
							<li><a href="#">百度</a></li>
							<li><a href="#">百度</a></li>
							<li><a href="#">百度</a></li>
							<li><a href="#">百度</a></li>
							<li><a href="#">百度</a></li>
							<li><a href="#">百度</a></li>
							<li><a href="#">百度</a></li>
							<li><a href="#">百度</a></li>
							<li><a href="#">百度</a></li>
							<li><a href="#">百度</a></li>
							</ul>
						</td></tr>
					<tr><td class="headCol">教育文化</td>
						<td class="siteCatalog"><ul>
							<li><a href="#">百度</a></li>
							<li><a href="#">百度</a></li>
							<li><a href="#">百度</a></li>
							<li><a href="#">百度</a></li>
							<li><a href="#">百度</a></li>
							<li><a href="#">百度</a></li>
							<li><a href="#">百度</a></li>
							<li><a href="#">百度</a></li>
							<li><a href="#">百度</a></li>
							<li><a href="#">百度</a></li>
							<li><a href="#">百度</a></li>
							<li><a href="#">百度</a></li>
						</ul></td>
						</tr>
					<tr id="lastRow"><td class="headCol">未分组</td>
					<td class="siteCatalog"><ul>
							<li><a href="#">百度</a></li>
							<li><a href="#">百度</a></li>
							<li><a href="#">百度</a></li>
							<li><a href="#">百度</a></li>
							<li><a href="#">百度</a></li>
							<li><a href="#">百度</a></li>
							<li><a href="#">百度</a></li>
							<li><a href="#">百度</a></li>
							<li><a href="#">百度</a></li>
							<li><a href="#">百度</a></li>
							<li><a href="#">百度</a></li>
							<li><a href="#">百度</a></li>
					</ul></td>
					</tr>
				</table>
			</div>
		</div>
		</div>
		</div>
	</body>
</html>
<% content_for :javascripts do %>
<script>
function favourite () {
	
  		$("#siteDisplay").load ('/home/我的收藏  #myFavourite');
  	
}


</script>
<% end %> 
				<!-- <p>热门推荐:</p>
				<div id="recomondSite">
					<ul class="webView" id="recommendList">
					<li><img src="img/a.jpg"></li>
					<li><img src="img/b.jpg"></li>
					<li><img src="img/c.jpg"></li>
					<li><img src="img/d.jpg"></li>
					<li><img src="img/e.jpg"></li>
					<li><img src="img/f.jpg"></li>
					</ul>
					<ul class="webView"></ul>
				</div>
				-->
