<!DOCTYPE html>
<html>
	<body>
		<div id="topDiv">
		<h1>排名中心</h1>
		</div>
		<div style="margin-left:auto;margin-right:auto;width: 793px;">
		<div id="leftDiv">
			<ul id='menuList'>
				<li>
					综合排名
				</li>
				<li>
					<a href="#">A．休闲娱乐</a>
				</li>
				<li>
					<a href="#">B．网上商城</a>
				</li>
				<li>
					<a href="#">C．生活服务</a>
				</li>
				<li>
					<a href="#">D．教育就业</a>
				</li>
				<li>
					<a href="#">E．商业经济</a>
				</li>
				<li>
					<a href="#">F．艺术人文</a>
				</li>
				<li>
					<a href="#">G．自然科学</a>
				</li>
				<li>
					<a href="#">H．科技创新</a>
				</li>
				<li>
					<a href="#">I．行政服务</a>
				</li>
				<li>
					<a href="#">J．地方区域</a>
				</li>
				<li>
					<a href="#">K．名人网站</a>
				</li>
				<li>
					<a href="#">L．国外名站</a>
				</li>
				<li>
					<a href="#">M．新闻媒体</a>
				</li>
				<li>
					<a href="#">N．电脑网络</a>
				</li>
				<li>
					<a href="#">O．综合其他</a>
				</li>
			</ul>
		</div>
		<div id="rightDiv">
			<div id="centerRelativeDiv">
			<div id="sitesRank">
				<h3>排名网站</h3>
				<ul>
					<li>百度</li>
					<li>谷歌</li>
					<li>新浪</li>
					<li>腾讯</li>
					<li>搜狐</li>
					<li>网易</li>
					<li>天猫</li>
					<li>京东</li>
				</ul>
			</div>
			
			<table id="titleTable">
				<tr>
					<td id="colTitle1">Top100</td>
					<td id="colTitle2">Alexa</td>
					<td id="colTitle3">PR值</td>
					<td id="colTitle4">权重</td>
				</tr>
			</table>
			<table id="sitesSortTable">
				<tr>
					<td id="sitesCol1">1.</td>
					<td id="sitesCol2">百度</td>
					<td id="sitesCol3"><a href="http://www.baidu.com">www.baidu.com</a></td>
					<td id="sitesCol4">流量xx</td>
					<td id="sitesCol5">PRxx</td>
					<td id="sitesCol6">xxx</td>
				</tr>
				<tr>
					<td>2.</td>
					<td>百度</td>
					<td><a href="http://www.baidu.com">www.baidu.com</a></td>
					<td>流量xx</td>
					<td>PRxx</td>
					<td>xxx</td>
				</tr>
				<tr>
					<td>3.</td>
					<td>百度</td>
					<td><a href="http://www.baidu.com">www.baidu.com</a></td>
					<td>流量xx</td>
					<td>PRxx</td>
					<td>xxx</td>
				</tr>
				<tr>
					<td>4.</td>
					<td>百度</td>
					<td><a href="http://www.baidu.com">www.baidu.com</a></td>
					<td>流量xx</td>
					<td>PRxx</td>
					<td>xxx</td>
				</tr>
				<tr>
					<td>5.</td>
					<td>百度</td>
					<td><a href="http://www.baidu.com">www.baidu.com</a></td>
					<td>流量xx</td>
					<td>PRxx</td>
					<td>xxx</td>
				</tr>
				<tr>
					<td>6.</td>
					<td>百度</td>
					<td><a href="http://www.baidu.com">www.baidu.com</a></td>
					<td>流量xx</td>
					<td>PRxx</td>
					<td>xxx</td>
				</tr>
				<tr>
					<td>7.</td>
					<td>百度</td>
					<td><a href="http://www.baidu.com">www.baidu.com</a></td>
					<td>流量xx</td>
					<td>PRxx</td>
					<td>xxx</td>
				</tr>
				<tr>
					<td>8.</td>
					<td>百度</td>
					<td><a href="http://www.baidu.com">www.baidu.com</a></td>
					<td>流量xx</td>
					<td>PRxx</td>
					<td>xxx</td>
				</tr>
				<tr>
					<td>9.</td>
					<td>百度</td>
					<td><a href="http://www.baidu.com">www.baidu.com</a></td>
					<td>流量xx</td>
					<td>PRxx</td>
					<td>xxx</td>
				</tr>
				<tr>
					<td>10.</td>
					<td>百度</td>
					<td><a href="http://www.baidu.com">www.baidu.com</a></td>
					<td>流量xx</td>
					<td>PRxx</td>
					<td>xxx</td>
				</tr>
			</table>
		
		</div>
		</div>
		</div>
	</body>
</html>
