		<div id="topDiv">
			<h1>服务中心</h1>
		</div>
		<div style="margin-left:auto;margin-right:auto;width: 793px;">
				<div id="leftDiv">
					<ul id="serveList">
						<li id="usItem"><a href="#">关于我们</a></li>
						<li><a href="#">帮助中心</a>
							<ul id="helpList">
								<li id="questionItem"><a href="#">常见问题</a></li>
								<li><a href="#">使用入门</a></li>
								<li><a href="#">特色介绍</a></li>
								<li><a href="#">个人问题</a></li>
							</ul>
						</li>
						<li id="collectItem"><a href="#">收录申请</a></li>
						<li id="adItem"><a href="#">广告合作</a></li>
						<li id="suggestItem"><a href="#">建议反馈</a></li>
						<li id="copyrightItem"><a href="#">版权声明</a></li>
					</ul>
				</div>
				<div id="rightDiv">
					<div class="paragraph" id="aboutUs" >
						<p>关于我们：</p>
						<p>
							还记得儿时，我们每天想要的不是新鞋子，新外套，新衣服，想要的仅仅是一颗糖，刚放进嘴里就能甜到心里，脸上挂着灿烂而满足的笑容，这便是快乐，也是幸福。随着四季更替，岁月流转，我们渐渐的长大，然而曾经的我们却被给淹没在那时间的长河中，一回头再也找不到原来的自己，刹那间我们陷入恐慌，我们找不到我们原来所生存过的痕迹，有的只是关于曾经的一点一滴，而这仅仅的一点一滴，却再也无法激起我们内心的涟漪，仿佛我们在看别人的故事，别人的经历。
							于是我们想尽办法的留住现在，因为我们害怕失去未来，失去我们对未来的梦想，失去我们未来的方向，可是我们错了，真的错了；因为我们根本不了解什么叫做时间的力量，它可以把我们的灵魂一点点的抽离身体，最后我们又一次变成了一个新的模样，我们看不到未来，回不到过去，就像我们独自漂泊在大海之上，让我们找不到方向，我们害怕，是害怕，害怕这大海又一次把我们卷入洪流，又一次让我们迷茫，让我们恐慌。
							我们像是一只孤独的幼鸟，不断的在天空鸣叫，不断的在天空飞翔环绕，却依然找不到南去的反向。可往往只有这样的我们才知道要用一切去拥抱我们所在乎的人或者物。
							现在的我们犹如走在一个浓浓大雾的清晨，在这样的岁月里，我们只能大胆的寻找方向，总有一天会有阳光，照亮我们的希望。
						</p>
					</div>
					<div class="paragraph" id="commonProblem">
						<p>常见问题:</p>
						<p>皮肤常见问题
							<ol>
							<li>皮肤保存不了怎么办？<br>
							答：您设置过的皮肤，是保存到浏览器缓存文件的，所以建议您不要清理浏览器缓存和设置关闭浏览器自动清理缓存。以下几种常见浏览器的设置方法供参考：<br>
							1> 360安全浏览器：在菜单上的工具—选项，打开选项设置页，找到“高级设置”—“清理上网痕迹设置”，取消“Cookies和其他网站数据”勾选，点击”关闭“即可。<br>
							2> 360极速浏览器：360极速浏览器菜单上的工具—选项，打开选项设置页打开选项页后，找到“高级设置”—“清除浏览数据”，取消“删除Cookies和其他网站数据“勾选，点击”关闭“即可。<br>
							3> IE浏览器：菜单上选择工具--Internet 选项--将退出时删除浏览历史记录的勾去掉。<br>
							图示帮助</li>
							<li>皮肤版权指引说明<br>
							答：360导航皮肤中所有模板资源均由网上收集和网友提供而来，如果版权拥有者发现自己作品被侵权，请及时向360导航提出权利通知，并将身份证明、权属证明、具体链接（URL）及详细侵权情况证明通过上方的反馈发送给我们。360导航在收到上述法律文件后，在5个工作日内移除相关涉嫌侵权的内容。<br>
							</li>
							</ol>
							<p>其他常见问题</p>
							<ol>
							<li>如何将360安全网址导航设为上网主页？<br>
							答：不同的浏览器有不同的方式，请根据您使用的上网浏览器，查看具体方法。<br>
							1>IE浏览器：在菜单栏中选择工具 → Internet选项，弹出属性对话框。在主页内容中输入http://hao.360.cn/，然后点击确定即可将360安全网址设为主页。图示帮助<br>
							2>360安全浏览器：在菜单栏打开工具 → 主页设置，弹出主页设置对话框。在主页内容中输入http://hao.360.cn/，然后点击确定即可将360安全网址设为主页。图示帮助<br>
							3>其他浏览器：360极速浏览器搜狗浏览器遨游浏览器chrome浏览器Firefox浏览器<br>
							</li>
							<li>修改了搜索引擎、天气预报的城市、或换了皮肤以后，下次打开又恢复成以前的，怎么办？<br>
							答：请检查浏览器的设置是否为退出后自动清除cookies。图示帮助
							</li>
							<li>主页字体过大、过小，怎么办？<br>
							答：您可以尝试以下几种方法。<br>
							1> CTRL+鼠标滚轮，调节到100% ；<br>
							2> CTRL+0，直接调整到100%；<br>
							3>点击浏览器右下角的放大镜，调节到100%；<br>
							4>菜单栏中选择查看 → 网页缩放，选择100% <br>
							</li>
							<li>360浏览器升级之后菜单变成英文的了，怎么办？<br>
							答：您下载的是英文版的浏览器，您可以到360官网重新下载一次
							</li>
							<li>升级浏览器以后收藏夹丢了，怎么办？<br>
							答：您可以点击这里查看找回方法
							</li>
							</ol>
						</p>
					</div>
					
					<div class="paragraph" id="collectApplication">
						<p>申请收录:</p>
						<p>合作原则:</p>
							<ol id=cooperatRules>
								<li>不收录有反动、色情、赌博等不良内容或提供不良内容链接的网站，以及网站名称或内容违反国家有关法规的网站</li>
								<li>不收录无实用内容的网站，如您的网站正在建设中，尚无完整内容，请不必现在登录，欢迎您在网站建设完成后再来登录</li>
								<li>不收录含有病毒、木马，弹出插件或恶意更改他人电脑设置的网站及有多个弹窗广告的网站</li>
								<li>对挂靠别人的网站下的网站 ( 即没有自己单独域名的网站 ) ，本站将不予收录</li>
								<li>不收录在正常情况下无法正常连接或浏览的网站</li>
								<li>本站保留收录决定权以及在本站网址数据库中相关内容的编辑决定权</li>
							</ol><br>
							<h3>申请收录提交信息</h3>
						<table>
							<tr><td class="leftTd">推荐网址:</td><td><input type="text" id="inputSiteUrl" value="http://"/></td><tr>
						</table>
						<table>
							<tr><td class="leftTd">网站名称:</td><td><input type="text" id="inputSiteName"/></td></tr>
						</table>
						<table>
							<tr><td class="leftTd">QQ:</td><td><input type="text" id="inputQQ"/></td></tr>
						</table>
						<table>
							<tr><td class="leftTd">Email:</td><td><input type="text" id="inputEmail"/></td><td><span>QQ,Email,电话选填一项即可</span></td></tr>
						</table>
						<table>
							<tr><td class="leftTd">电话:</td><td><input type="text" id="inputPhone"/></td></tr>
						</table>
						<table>
							<tr><td class="leftTd">推荐分类:</td><td><input type="text" id="inputSiteClassify"/></td></tr>
						</table>
						<table>
							<tr><td class="leftTd">网站描述:</td><td><textarea rows="5" cols="50" id="inputSiteDescript"></textarea></td></tr>
						</table>
						
						<table>
							<tr><td class="leftTd">给舍人的意见:</td><td><textarea rows="5" cols="50" id="inputOpinions"></textarea></td></tr>
						</table>
						<p>如果您提交申请两周之后没有被收录可能是因为您的网站还未达到我们的收录标准，您可以等待一个月后再次提交，亲不要重复提交。</p>
						<input type="button" id="SubmitApplybtn" class="submitButton" value="提交" />
					</div>
					
					<div class="paragraph" id="advertiseBusiness">
						<img src="/assets/advertiseCooperate.jpg"/>
						<p>广告业务</p>
						<ul>
							<li>网址导航广告业务：<a href="#">dhsales@360.cn</a></li>
							<li>搜索代理及推广咨询：<a href="#">ssdl@360.cn</a></li>
						</ul>
					</div>
					
					<div class="paragraph" id="opinionFeedback">
						<p>建议反馈</p>
						<p>您好，欢迎您给我们提出使用中遇到的问题或建议！留下联系方式，将有机会获得精美礼品！</p>
						
						<table>
							<tr><td class="leftTd">反馈内容:</td><td><textarea rows="5" cols="50" id="inputFeedback"></textarea></td><td><span>*</span>必填</td></tr>
						</table>
						<table>
							<tr><td class="leftTd">联系方式:</td><td><input type="text" id="inputContactInfo"/></td><td><span>*</span>必填</td></tr>
						</table>
						<input type="button" id="FeedbackBtn" class="submitButton" value="马上提交" />
					</div>
					
					<div class="paragraph" id="copyrightStatement">
						<p>版权声明</p>
							舍人导航皮肤中所有模板资源均由网上收集和网友提供而来。
							如果版权拥有者发现自己作品被侵权，请及时向360导航提出权利通知，
							并将身份证明、权属证明、具体链接（URL）及详细侵权情况证明通过邮箱（kefu#360.cn(#换成@)）反馈给我们。
							360导航在收到上述法律文件后，在5个工作日内移除相关涉嫌侵权的内容。
					</div>
				</div>
		</div>