<div id="header">
			<ul>
				<li><a href="#" style="color:#FFFFFF;" id="setHome">设为主页</a></li>
				<li style="background-color:#FFFFFF;padding-top:0px"><iframe width="270" scrolling="no" height="25" frameborder="0" allowtransparency="true" src="http://i.tianqi.com/index.php?c=code&id=34&icon=1&num=3"></iframe></li>
				<li style="margin-right:20px;margin-left:380px;"><a href="#" style="color:#FFFFFF;" id="login">登录</a></li>
				<li><a href="#" style="color:#FFFFFF;" id="register">[注册]</a></li>
				<li><a href="#" style="color:#FFFFFF;" id="personalCenter">个人中心</a></li>
			</ul>
			
</div>

