<div id="header">
			<ul>
				<li><a href="#" id="setHome">设为主页</a></li>
				<li><iframe width="280" scrolling="no" height="25" frameborder="0" allowtransparency="true" src="http://i.tianqi.com/index.php?c=code&id=34&icon=1&num=3"></iframe></li>
			</ul>
			
</div>

