body {
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: small;
	background-color:rgb(236,236,236);
}
#headline img{
	margin-top:10px;
	border:none;
	height:78px;
	width:258px;
}
#seachDiv {
	margin:10px auto 5px auto;
	height: 30px;
	width: 480px;
	border: solid 2px #B8B8B8;
}
#seachBtn{
	height:30px;
	width:75px;
	padding:0;
	cursor: pointer;
	border-left: solid 2px #B8B8B8;
	background-image:url(/assets/search.png);
	float:right;
	outline:none;
}
#seachTxt{
	padding:0;
	padding-left:10px;
	height:30px;
	width: 394px;
	border:none;
	font: 16px arial;
	float:left;
	outline:none;
}
a {
	text-decoration: none;
	color:black;
}
hr{
	border:1px solid ;
	color:#f0f0f0;
}
a img {
	border: 0;
}

p{
	margin: 0 0 1em;
}
#header{
	height:25px;
	background-color:rgb(176,176,176);
	width:1080px;
	margin-left:auto;
	margin-right:auto;
}
#header ul{
	margin-top:0px;
	margin-bottom:0px;
}

#header ul li{
	display:inline-block;
	margin-right:50px;
	height:23px;
	float:left;
	padding-top:4px;
}

#mainDiv {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width:1080px;
	height:800px;
	background-color:#FFFFFF;
}

#checkDiv {
	margin:0,auto;
}
#checkDiv label {
	margin-right: 25px;
}
#imgDiv {
	clear: both;
}
#listMenu {
	float:left;
	position:absolute;
	z-index:999;
}
#rightPart{
	float:right;
	height:550px;
	width:900px;
}
#navigatBar{
	position:relative;
	height:32px;
}
#navigatList li{
	display:inline-block;
	float:left;
	padding-right:33px;
	color:balck;
	font-size:160%;
}
#navigatList :last-child{
	padding-right:0px;
}
#divideDiv{
	background:black;
	height:6px;
	width:860px;
	margin-left:20px;
}
#searchSitesDiv{
	margin:3px 0 0 0;
	background-image:url(/assets/searchSite.png);
	height:21px;
	width:128px;
}
#searchSite{
	width:100px;
	height:10px;
    padding: 0px;
    margin: 6px 0px 0px 6px;
    border: 0px none;
    float: left;
    background: none;
	outline:none;
}
#searchSiteBtn{
	height:20px;
	width:20px;
	border: 0px none;
	background: none;
	cursor: pointer;
    float: right;
	outline:none;
}
#listHeadDiv{
	background:black;
	height:40px;
	width:170px;
	color:white;
	font-size: 150%;
    font-weight: bold;
    margin-left: 30px;
	margin-top:11px;
}
#myFavourite{
	display:none;	
	margin-left:105px;
}
 
#sitesPreview{
	margin-left:50px;
}
.recomondSite h2{
	color:red;
	text-align:left;
}
.recomondSite {
	width:800px;  
	height:170px;  
	margin:0 5px 5px 0;
	position:relative;
//	margin-left:50px;
	margin-top:20px; 
}
.siteContent{  
	position:relative;  
	width:730px;  
	height:170px;  
	display:inline-block;  
	overflow:hidden;  
	float:left;  
	margin-top:-25px;
}  
.siteList {  
	position:absolute;  
	width:4000px;  
}  
.siteList dl{  
	width:112px;  
	height:130px;  
	float:left;  
	margin:10px 40px 0 0;
}  
.siteList dl:hover {  
	border:1px solid #333;  
	background:#ccc;
} 
.siteList dl dt img { 
	width:110px;  
	height:128px; 
	border:none;  
}  
.siteList dl dd { 
	margin-left:-12px;
	text-align:center;  
}  
.recomondSite span.prev{  
	cursor:pointer;  
	display:inline-block;  
	width:35px;  
	height:100px;  
	background:url(/assets/pageLeft.png) no-repeat left center;
	float:left; 
} 
.recomondSite span.next{ 
	cursor:pointer;  
	display:inline-block;
	width:35px;  
	height:100px;  
	background:url(/assets/pageRight.png) no-repeat left center;  
	float:right;
}

#footer{
	clear: both;
	position:relative;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#footer li {
	display: inline;
	border: 1px solid #000;
	font-weight: bold;
	margin-right: 30px;
	font-size:120%;
}

#footer p a {
	color: #333;
	text-decoration: underline;
}
#operateList{
	height:25px;
	width:400px;
}
#operateTable{
	margin-top:10px;
	margin-bottom:4px;
	float:left;
	//margin-left:212px;
	height:30px;
	width:500px;
}
#operateTable td{
	height:23px;
	width:150px;
	border:solid 1px;
	text-align:center;
}
#favourTable{
//	margin-left:100px;
	clear:both;
	border-spacing:0px;
}
.headCol{
	border-top:1px solid ;
	border-right:1px solid;
	border-left:1px solid;
	text-align:center;
	font-weight:bold;
	font-size:20px;
	height:120px;
	width:120px;
}
#menu ul{
	display:none;
	z-index:10;
	position:absolute;
	width:800px;
	margin-top:-20px;
}

#menu li:hover ul{
       display:block;
       margin-top:-23px;
       margin-left:165px;
}
#menu li:hover ul li{
		border:none;
		display:block;
		float:left;
}
#menu > li{ 
	text-align:center;
	padding:8px 0;
	font-weight:bold;
	height:23px;
	width:170px;
	font-size:140%;
	font-weight:600;
	list-style:none;
	cursor:pointer;
}
#menu {
	background: #F1F1F1;
    margin:0 0 0 30px;
    padding: 0;
}
.secondMenu li {
	padding:8px;
	height:23px;
	width:170px;
}
.secondMenu {
	background:#F1F1F1;
	border:1px solid;
}
.siteCatalog ul{
	margin-top:-5px;
}
.siteCatalog
{
	border-top:1px solid ;
	border-right:1px solid;
	text-align:center;
	height:120px;
	width:500px;
}
#lastRow td{
	border-bottom:1px solid;
}
.siteCatalog li{
	margin-top:5px;
	margin-right:5px;
	border:1px solid;
	height:20px;
	width:100px;
	float:left;
	text-align:center;
	padding-top:6px;
	display:inline;
}
#fixedAdd a img{
	height:50px;
	width:50px;
}
#fixedAdd{
	position:fixed;
	bottom:20%;
	right:8%;
}
