.clear{
	clear:both;
}

body{background-color:#EEEEEE}
.center{margin-top:-10px;margin-left:auto;margin-right:auto;background-color:white;width:1080px;}
.header{margin-left:270px;line-height:60%;}
.containerDiv{margin:0 auto;text-align:center}
.leftDiv{margin-top:-17px;float:left;width:200px;position:absolute;text-align:center;}
.rightDiv{width:1080px;}
.footer{clear:both;position:relative;padding:10px;}
#rankCenterH1{text-align:left;margin-left:110px;font-weight:500;font-size:59px;color:#666666;}
#contents{background-color:black;color:white;width:170px;height:40px;line-height:37px;font-weight:bold;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:19px;margin-left:30px;margin-top:11px;margin-bottom:0px;}
#menuList{height:600px;font-family:Verdana,Arial,Helvetica,sans-serif;padding:0;margin:0px 0px 0px 30px;background-color:#EEEEEE;list-style:none;line-height:2em;font-size:19px;font-weight:bold;line-height:2.1em;}
#Back{solid black;margin-left:199px;height:40px;margin-top:10px;}
#list{list-style:none;}
#list li{font-weight:bold;font-size:19px;font-family:Verdana,Arial,Helvetica,sans-serif;}
#centerRelativeDiv{margin-top:10px;margin-left:250px;}
#titleTable{width:760px;font-family:黑体;font-size:17px;color:#888;}
#sitesSortTable{width:760px;text-align:center;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:18px;font-weight:600;}
#sitesSortTable tr td a{text-decoration:none;color:#888;}
#sitesRank{margin-top:50px;text-align:left;font-size:16px;}
#sitesRank ul{text-align:center;font-weight:600;list-style:none;}
#sitesRank a{padding-left:40px;text-decoration:none;color:#0066FF;}
#footer a{padding-left:10px;text-decoration:none;font-size:small;color:black;}
#footer li{display:inline;}
#footer ul{text-align:center;list-style:none;}
#footer p{text-align:center;font-size:small;}
h1{text-align:center;}
#topDiv{
	margin-left:auto;
	margin-right:auto;
	height:80px;
	text-align:center;
	width:792px;
	border-left:1px solid;
	border-right:1px solid;
}
#serverListDiv{
	height:800px;
}
#serveList li{
	display:block;
}
.leftTd{
	width:130px;
	text-align:right;
}
td span{
	color:red;
}
.submitButton{
	border-radius:5px;
	margin-left:140px;
	height:40px;
	width:80px;
}

a{
	text-decoration: none;
}
.paragraph{
	margin-left:auto;
	margin-right:auto;
	height: 800px;
	width: 600px;
	display:none;
}
.paragraph img{
	height:168px;
	width:600px;
}

#menuList  li{
	display:block;
	text-align:center;
	padding-top:8px;
	font-weight:bold;
	height:23px;
	list-style:none;
}
#centerRelativeDiv hr{
	margin-top:30px;
	border-top:solid 1px;
	width:629px;
	margin-left:-16px;
}
#titleTable td{
	border-bottom:1px solid;	
}

#colTitle1{
	width:300px;
}
#colTitle2{
	text-align:center;
	width:110px;
}
#colTitle3{
	text-align:center;
	width:110px;
}
#colTitle4{
	text-align:center;
	width:110px;
}
#sitesCol1{
	width:20px;
}
#sitesCol2{
	width:80px;
}
#sitesCol3{
	width:200px;
}
#sitesCol4{
	width:100px;
}
#sitesCol5{
	width:100px;
}
#sitesCol6{
	width:100px;
}
.secondMenu li{
	font-size:15px;
	padding-top:5px;
}
#classifyRank{
	border-top:1px solid;
	border-bottom:1px solid;
	width:630px;
	height:160px;
}
#classifyRank ul li{
	float:left;
	display:inline;
	border:1px solid;
	margin-left:15px;
	margin-right:15px;
	margin-top:10px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:15px;
	padding-right:15px;
}
#searchKeyInput{
	float:left;
	margin-left:150px;
	margin-top:15px;
}
#SubmitSearchbtn{
	float:left;
	margin-top:14px;
}
